<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <th>
            <td>First name</td>
            <td>Email</td>
            <td>Age</td>
            <td>Nationality</td>
            <td>View profile</td>
        </th>

        {%for Customer in customers %}

        <tr>
            <td>{{ customer.first_name}}</td>
            <td>{{ customer.email}}</td>
            <td>{{ customer.age}}</td>
            <td>{{ customer.nationality}}</td>
            <td> <a href="{% url 'customer_profile' id=customer.id%}"> View Profile </a></td>
        </tr>
        {% endfor %}

    </table>
    
</body>
</html>